* {
    margin: 0;
    padding: 0;
    border: none;
}

.btn {
    width: 100px;
    height: 45px;
    margin-left: 20px;
    color: #fff;
    background-color: #0a5aff;
    border-radius: 3.5px;
}