* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Rubik", sans-serif;
}

.btn {
  width: 80px;
  height: 45px;
  border: none;
  border-radius: 4.5px;
  cursor: pointer;
  color: #fff;
  background: #0a5aff;
}

.btn-actions {
  width: 60px !important;
  height: 30px !important;
  margin-right: 5px;
}

.bg-success {
  background: #66BB6A;
}

.bg-warning {
  background: #FBC02D;
}

.bg-danger {
  background: #E53935;
}

#main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100vh;
  background: #e8e8e8;
}
#main .main-wrapped {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 700px;
  height: 100%;
}
#main .main-wrapped .search-area {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  margin-top: 25px;
  border-radius: 4.5px;
  background: #f9f9f9;
}
#main .main-wrapped .search-area .search {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 80px;
}
#main .main-wrapped .search-area .search .input-search {
  flex: 1;
  width: auto;
  height: 45px;
  min-width: 100px;
  margin-left: 25px;
  padding: 15px 10px;
  font-size: 16px;
  border: 0.5px solid #c9c9c9;
  border-radius: 4.5px;
  background: #e8e8e8;
  box-sizing: border-box;
}
#main .main-wrapped .search-area .search .btn-search {
  margin: 0 25px 0 15px;
  font-weight: 600;
  font-size: 16px;
}
#main .main-wrapped .search-area .search-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex: 1;
}
#main .main-wrapped .list-area {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  width: 90%;
  min-height: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4.5px;
  background: #f9f9f9;
}
#main .main-wrapped .list-area .user-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  min-height: 0;
  border: 0.5px solid #c9c9c9;
  border-radius: 4.5px;
  background-color: #f1f1f1;
}
#main .main-wrapped .list-area .user-container table {
  border-collapse: collapse;
  background-color: #fff;
  table-layout: fixed;
}
#main .main-wrapped .list-area .user-container table thead tr {
  background-color: #0a5aff;
  color: #fff;
  text-align: left;
}
#main .main-wrapped .list-area .user-container table thead tr th:nth-child(1) {
  width: 100px;
}
#main .main-wrapped .list-area .user-container table thead tr th:nth-child(2) {
  width: 100px;
}
#main .main-wrapped .list-area .user-container table thead tr th:nth-child(3) {
  width: 100px;
}
#main .main-wrapped .list-area .user-container table thead tr th:nth-child(4) {
  width: 250px;
  padding: 0 !important;
}
#main .main-wrapped .list-area .user-container table tr td:nth-child(1) {
  width: 100px;
}
#main .main-wrapped .list-area .user-container table tr td:nth-child(2) {
  width: 100px;
}
#main .main-wrapped .list-area .user-container table tr td:nth-child(3) {
  width: 100px;
}
#main .main-wrapped .list-area .user-container table tr td:nth-child(4) {
  width: 250px;
  padding: 0 !important;
}
#main .main-wrapped .list-area .user-container table td,
#main .main-wrapped .list-area .user-container table th {
  padding: 12px 15px;
  font-size: 14px;
  text-align: center;
}
#main .main-wrapped .list-area .user-container table tbody tr {
  border-bottom: thin solid #dddddd;
}
#main .main-wrapped .list-area .user-container table tbody tr:nth-of-type(even) {
  background-color: #eaeaea;
}
#main .main-wrapped .list-area .user-container .table-body-container {
  overflow-y: auto;
  display: flex;
}
#main .main-wrapped .list-area .user-container .table-body-container table {
  flex: 1;
}
#main .users-panel {
  flex: 1;
  min-height: 0;
}
#main .users-panel .user-form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-width: 300px;
  width: 425px;
  height: 300px;
  margin-top: 25px;
  border-radius: 4.5px;
  background: #f9f9f9;
}
#main .users-panel .user-form-container .form-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: 12px;
}
#main .users-panel .user-form-container .form-actions button {
  margin-left: 20px;
}
#main .users-panel form {
  width: 80%;
}
#main .users-panel form .form-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}
#main .users-panel form .form-container input {
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  border: thin solid #c9c9c9;
  border-radius: 4.5px;
  background: #e8e8e8;
  box-sizing: border-box;
}

.modal-delete {
  position: fixed;
  top: 35%;
  left: 32%;
  display: none;
  flex-flow: column wrap;
  align-items: center;
  padding: 25px;
  background: #f3f3f3;
  border-radius: 4.5px;
  box-sizing: border-box;
  z-index: 10;
}
.modal-delete div {
  margin-top: 10px;
}

.modal-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0005;
  z-index: 9;
}

.act-modal {
  display: flex !important;
}

.hidden-input-get-id {
  visibility: hidden;
}

#debug {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: aqua;
}

/*# sourceMappingURL=style.css.map */
